$textColor: rgb(43, 43, 43);
$primaryColor: #ffffff; /* background, menu text */
$secondaryColor: #283593; /* menu,icons */
$tercialColor: #6d6d6d; /* input,navbar */
$boxShadows_1: rgba(0, 0, 0, 0.14);
$boxShadows_2: rgba(0, 0, 0, 0.28);
